body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  /*  Пример подключения изображения из папки  img
    background-image: url("../img/bg-promo.png");
    background-repeat: no-repeat;
    background-position: center top; */

  background-color: white;
  margin:0px;
}
.container{
    padding-left:30px;
    padding-right:30px;
    margin:0 auto;
    width:1020px;
}
.main-header .main-menu {
  float: right;
  width: 680px;
  margin-top: 25px;
  height: 40px;
}
.main-header .logo {
  float: left;
  width: 180px;
  min-height: 100px;
}
.main-header{
  padding: 0 auto;
  padding-top: 35px;
  background:#6451d5;
  min-height: 650px;
  background-image: url("../img/bg-promo.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.container .header-top{
  height:82px;
  width: auto;
}
.container .promo{
  margin-top:93px;
  width:450px;
  height: 395px;
}
.features{
  padding-top:50px;
  padding-bottom:45px;
  background-color: #efefef;
}
.features-item {
  min-height: 187px;
  width: 320px;
  float:left;
  margin-right:30px;
}
.features-item:last-child{
  margin-right:0px;
}
.features .container::after {
  display: table;
  clear: both;
  content: "";
}
.study{
  padding-top:13px;
  background-color:white;
}
.study .container{
  padding:0px 0px 0px 60px; /*5 74*/
  background-color: white;
}
.study .contacts-title{
  font-family:Trebuchet, Arial, sans-serif;
  font-weight: bold;
  font-size: 45px;
  min-height: 50px;
  line-height: 50px;
  margin-bottom:60px;
  margin-left: -30px;
  margin-right: 30px;
}
.study table{
  margin-left: -30px;
  margin-right: 30px;
  border-collapse: collapse;
}
.study td{
  width: 540px;
  padding-left:30px;
  font-size:22px;
  border:2px solid #a7a7a7;
  padding-right: 60px;
  font-family: Trebuchet, Arial, sans-serif;
  font-size: 22px;
}
.study tr{
  height: 102px;
}
.study::after{
  display: table;
  clear: both;
  content: "";
  height: 70px;
}
.study .table-title{
  background-color: #efefef;
  color: #404040;
}
.study .table-name{
  width:287px;
  padding-right: 0px;
}
.study .table-lenght{
  width: 185px;
  padding-right: 0px;
}
.study .table-title{
  height:72px;
}
.table-text{
  padding-right:10px;
}
.study .table-text, .study .table-title td/*.study .table-title td:first-child,
 .study .table-lenght td:first-child*/{
  font-family: Tahoma, Arial, sans-serif;
  font-size: 18px;
}
.contacts{
  padding-top: 13px;
  background-color: #efefef;
  margin:0px;
}
.contacts .container{
  min-height: 479px;
  margin-bottom: 0px;
}
.contacts .contacts-title{
  font-size:45px;
  line-height: 50px;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 60px;
}
.contacts .contacts-form{
  font-family: Trebuchet, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  float:left;
}
.contacts .contacts-form table{
  padding-top: 70px;
  width: 640px;
  min-height: 369px;
}
.contacts .contacts-instruction{
  width: 320px;
  min-height: 348px;
  float:right;
}
.contacts::after{
  display: table;
  clear: both;
  content: "";
  height: 0px;
}
.main-footer{
  padding-top: 65px;
  padding-bottom: 77px;
  background-color:#2a2546;
}
.main-footer .container{
  min-height: 165px;
  margin-top: 0px;
  background-color: red;
}
.main-footer .footer-top{
  background-color: blue;
}
.main-footer .footer-address{
  width: 300px;
  margin-right: 40px;
  float:left;
  min-height: 208px;
  background-color: green;
}
.main-footer .footer-menu{
  margin:0px;
  padding:0px;
  color:white;
  background-color: black;
  float: left;
  width: 180px;
  margin-top: 25px;
  min-height: 207px;
  font-size: 18px;
  font-family:Tahoma;
}
.main-footer .footer-menu h3{
  font-size: 19px;
  pading:0px;
  margin: 0px;
}
.main-footer .footer-menu ul{
  padding: 0px;
  margin:0px;
}
.footer-top::after{
  display: table;
  clear: both;
  content: "";
}
.footer-menu:last-child {
  float: right;
  width: 135px;
}
.main-footer ul{
  list-style: none;
}
