body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  /*  Пример подключения изображения из папки  img
    background-image: url("../img/bg-promo.png");
    background-repeat: no-repeat;
    background-position: center top; */

  background-color: white;
  margin:0px;
}
.container{
    padding-left:30px;
    padding-right:30px;
    margin:0 auto;
    width:1020px;
}
.main-header .main-menu {
  float: right;
  width: 680px;
  margin-top: 25px;
  height: 40px;
}
.main-header .logo {
  float: left;
  width: 180px;
  min-height: 100px;
}
.main-header{
  padding: 0 auto;
  padding-top: 35px;
  background:#6451d5;
  min-height: 650px;
  background-image: url("../img/bg-promo.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.container .header-top{
  height:82px;
  width: auto;
}
.container .promo{
  margin-top:93px;
  width:450px;
  height: 395px;
/*  background: green;*/
}
.features{
  padding-top:49px;
  padding-bottom:45px;
  background-color: #efefef;
}
.features-item {
  min-height: 190px;
  width: 320px;
  float:left;
  margin-right:30px;
}
.features-item:last-child{
  margin-right:0px;
}
.features .container::after {
  display: table;
  clear: both;
  content: "";
}
.study .container{
  padding:50px 0px 0px 74px;
  background-color: white;
}
.study .contacts-title{
  font-family:Trebuchet, Arial, sans-serif;
  font-weight: bold;
  font-size: 45px;
  padding-bottom:55px;
}
.study table{
  border-collapse: collapse;
}
.study td{
  padding-left:25px;
  font-size:22px;
  border:2px solid #a7a7a7;
}
.study tr{
  height: 100px;
}
.study .table-title{
  font-size:18px;
  height:72px;
}
.study::after{
  display: table;
  clear: both;
  content: "";
  height: 80px;
}
